<div class="w-full max-w-max grid grid-cols-1 lg:grid-cols-1 gap-4 my-8 px-2 lg:mx-0">

    <div class="p-5 border rounded border-gray-200 hover:border-purple-400">
        <ul>
            <li>
                <p>📜 I’m currently working with <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500" href="https://www.crio.do/">Crio.Do</a> as a User Trial Intern.</p>
            </li><br>
            <li>
                <p>🏥 I&#39;ve worked with <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500" href="https://innovaccer.com/">Innovaccer</a> as a SDE Intern.</p>
            </li><br>
            <li>
                <p>🔭 I&#39;ve worked with <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500" href="https://codechalleng.es/">Pybites</a> as an Open Source Developer in
                    the project <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500" href="https://github.com/PyBites-Open-Source/questionnaire-api">Questionnare API.</a>
                </p>
            </li><br>
            <li>
                <p>🎮 I&#39;ve worked with <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500" href="https://kwoc.kossiitkgp.org/">KWoC</a> as an Open Source Mentor with
                    my project <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500" href="https://github.com/code-monk08/connect4">Connect4</a> </p>
            </li><br>
            <li>
                <p>🎨 I&#39;ve worked as a designer at <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500" href="https://github.com/osdc/design">OSDC/design</a> for the
                    session 2019-2020.</p>
            </li><br>
            <li>
                <p>🌱 I’m currently learning <strong>React.js.</strong></p>
            </li><br>
            <li>
                <p>💬 Ask me about <strong>Python, JavaScript, Node, Django, Flask, C++, React.js</strong></p>
            </li><br>
            <li>
                <p>⚡ Fun fact <strong>I love Pink Floyd !</strong></p>
            </li><br>
        </ul>
    </div>
</div>