<div class="w-full max-w-max grid grid-cols-1 lg:grid-cols-1 gap-4 my-8 px-2 lg:mx-0">
    <div class="p-5 border rounded border-gray-200 hover:border-purple-400">
        <h3 align="left">About me:</h3>
        <p class="text-justify">
        Hey 👋 ! my name is Mayank Singh, I am a Full Stack Developer based in India, I love tinkering with computers, I love capturing, editing & creating images.    
        <br>
        <br>
        I have been fascinated by computers ever since I was young, I had a habit of playing with the features of different end user applications which always motivated me to create software products of my own, that is one of the core reason I chose to learn how to CODE!  
        <br>
        <br>
            I am currently an Information Technology student, I am in my final year of engineering at <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
            href="http://www.jiit.ac.in/">Jaypee Institute of Information Technology</a>, Noida.
        <br>
        <br>
            Fun fact about me: I love <strong>Pink Floyd</strong> !
        </p>
        <br>
        <h3 align="left">Experiences:</h3>
        <ul>
            <li>
                <details>
                    <summary>
                            📜 I’m currently working with
                            <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
                                href="https://www.crio.do/">Crio.Do</a>
                            as a User Trial Intern.
                    </summary>
                    <p>
                        <br>
                        <strong>October 2020 - Present</strong><br><br>
                        &emsp; &emsp; - Contributing by helping Crio.Do disrupt the way developers learn to code.<br><br>
                        &emsp; &emsp; - Critically reviewing & writing code for multiple micro experiences.<br><br>
                        &emsp; &emsp; - Improvising MERN stack based micro experiences. <br><br>
                        &emsp; &emsp; - Promoting learning by doing.
                    </p>
                </details>

            </li>
            <br />
            <li>
                <details>
                    <summary>
                    🏥 I&#39;ve worked with
                    <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
                        href="https://innovaccer.com/">Innovaccer</a>
                    as a SDE Intern.
                    </summary>
                    <p>
                        <br>
                        <strong>April 2020 - June 2020</strong><br><br>
                        &emsp; &emsp; <strong>Responsibilities</strong>: <br><br>
                        &emsp; &emsp; - Co-Designing Data Models <br><br>
                        &emsp; &emsp; - Designing & Documenting Internal APIs using Swagger <br><br>
                        &emsp; &emsp; - Implementation using Django & Django Rest Framework <br><br>
                        &emsp; &emsp; - Validation using Marshmallow <br><br>
                        &emsp; &emsp; - Testing using Django TestCase <br><br>
                        &emsp; &emsp; - Manual Testing & Debugging.
                    </p>
                </details>
            </li>
            <br />
            <li>
                <details>
                <summary>
                    🔭 I&#39;ve worked with
                    <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
                        href="https://codechalleng.es/">Pybites</a>
                    as an Open Source Developer.
                </summary>
                <p>
                    <br>
                    <strong>October 2018</strong><br><br>
                    &emsp; &emsp; - I've worked on the project <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
                    href="https://github.com/PyBites-Open-Source/questionnaire-api">Questionnaire API.</a><br><br>
                    &emsp; &emsp; - I've also solved multiple python based code challenges on the the pybites platform.
                </p>
                </details>
            </li>
            <br />
            <li>
                <details>
                <summary>
                    🎮 I&#39;ve worked with
                    <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
                        href="https://kwoc.kossiitkgp.org/">Kharagpur Winter of Code</a>
                    as an Open Source Mentor
                    
                </summary>
                <p>
                   <br>
                    <strong>December 2019 - January 2020</strong><br><br>
                    &emsp; &emsp; - Formed an active community around my project <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
                    href="https://github.com/code-monk08/connect4">Connect4</a> <br><br>
                    &emsp; &emsp; - Mentored 30+ students from various IITs, NITs & IIITs & other institutions. <br><br>
                    &emsp; &emsp; - I helped these students step into Open Source Development  <br><br>
                    &emsp; &emsp; - I helped these students know about FOSS Culture. <br><br>
                    &emsp; &emsp; - 25+ Pull Requests, 24 Forks, 12 Stars, 10+ Issues all in span of one+ month.  
                </p>
                </details>
            </li>
            <br />
            <li>
                <details>
                <summary>
                    🎨 I&#39;ve worked as a designer at
                    <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
                        href="https://github.com/osdc/design">OSDC/design</a>
                </summary>
                <p>
                    <br>
                    <strong>July 2019 - October 2020</strong><br><br>
                    &emsp; &emsp; - I've also served with other responsibilities at <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
                    href="https://github.com/osdc">OSDC</a> such as:<br><br> 
                    &emsp; &emsp; - I organized <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
                    href="https://github.com/osdc/meetups">weekly meetups</a> on open source technologies & events. <br><br>
                    &emsp; &emsp; - I organized OSDHack'19 <a class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
                    href=" https://git.io/osdhack">Hackathon</a>.
                </p>
                </details>
            </li>
            <br />
        </ul>

        <h3 align="left">Languages & Tools I use:</h3>
        <p class="grid grid-cols-6 gap-4" align="center">
            <a href="https://www.python.org" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/python/python-original.svg" alt="python"
                    width="36" height="36" />
            </a>

            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/javascript/javascript-original.svg"
                    alt="javascript" width="36" height="36" />
            </a>

    
            <a href="https://www.cprogramming.com/" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/c/c-original.svg" alt="c" width="36"
                    height="36" />
            </a>


            <a href="https://www.w3schools.com/cpp/" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/cplusplus/cplusplus-original.svg"
                    alt="cplusplus" width="36" height="36" />
            </a>


            <a href="https://nodejs.org" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/nodejs/nodejs-original-wordmark.svg"
                    alt="nodejs" width="36" height="36" />
            </a>

            <a href="https://www.djangoproject.com/" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/django/django-original.svg" alt="django"
                    width="36" height="36" />
            </a>

            <a href="https://expressjs.com" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/express/express-original-wordmark.svg"
                    alt="express" width="36" height="36" />
            </a>

            <a href="https://flask.palletsprojects.com/" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" alt="flask" width="36"
                    height="36" />
            </a>

            <a href="https://reactjs.org/" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/react/react-original-wordmark.svg"
                    alt="react" width="36" height="36" />
            </a>

            <a href="https://www.w3.org/html/" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/html5/html5-original-wordmark.svg"
                    alt="html5" width="36" height="36" />
            </a>

            <a href="https://www.w3schools.com/css/" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/css3/css3-original-wordmark.svg"
                    alt="css3" width="36" height="36" />
            </a>

            <a href="https://getbootstrap.com" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/bootstrap/bootstrap-plain.svg"
                    alt="bootstrap" width="36" height="36" />
            </a>

            <a href="https://www.mongodb.com/" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/mongodb/mongodb-original-wordmark.svg"
                    alt="mongodb" width="36" height="36" />
            </a>

            <a href="https://www.mysql.com/" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/mysql/mysql-original-wordmark.svg"
                    alt="mysql" width="36" height="36" />
            </a>

            <a href="https://www.postgresql.org" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/postgresql/postgresql-original-wordmark.svg"
                    alt="postgresql" width="36" height="36" />
            </a>

            <a href="https://www.linux.org/" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/linux/linux-original.svg" alt="linux"
                    width="36" height="36" />
            </a>

            <a href="https://git-scm.com/" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="36"
                    height="36" />
            </a>

            <a href="https://postman.com" target="_blank">
                <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="36"
                    height="36" />
            </a>

            <a href="https://www.photoshop.com/en" target="_blank">
                <img src="https://devicons.github.io/devicon/devicon.git/icons/photoshop/photoshop-plain.svg"
                    alt="photoshop" width="36" height="36" />
            </a>
  
        </p>
    </div>
</div>